<head>
<script type="text/javascript" src="http://libs.useso.com/js/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrollTo.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script>	
 
      function init_map() {
var var_location = new google.maps.LatLng(51.774638,-177.24678);
 
        var var_mapoptions = {
          center: var_location,
          zoom: 14
        };
 
var var_marker = new google.maps.Marker({
position: var_location,
map: var_map,
title:"Venice"});
 
        var var_map = new google.maps.Map(document.getElementById("map-container"),
            var_mapoptions);
 
var_marker.setMap(var_map);	
 
      }
 
      google.maps.event.addDomListener(window, 'load', init_map);
 
    </script>
<script type="text/javascript">
$(function(){
	$(".box").click(function(){
		$.scrollTo('#service',500);
	});
	$(".nav_news").click(function(){
		$.scrollTo('#news',800);
	});
	$(".nav_ser").click(function(){
		$.scrollTo('#ser',1000);
	});
	$(".nav_con").click(function(){
		$.scrollTo('#con',1200);
	});
	$(".nav_job").click(function(){
		$.scrollTo('#job',1500);
	});
});


</script>

</head>
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3></h3>
                <h1>流白</h1>
                <h5>想得却不可得，你奈人生何。该舍的舍不得 只顾着跟往事瞎扯</h5>
                <h5></h5>
				<h3></h3>
				<h3></h3> <!--为了排版-->
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
				<html>
				<head>
				<title></title>
				</head>
				<body>
					<div class="image">
						<img src="http://liubai.qiniudn.com/logo1.png">
					</div>					
					<object data="http://liubai.qiniudn.com/other%E5%90%8E%E6%9D%A52.mp3" type="application/x-mplayer2" width="0" height="0">
					<param name="src" value=http://liubai.qiniudn.com/other%E5%90%8E%E6%9D%A52.mp3">
					<param name="autostart" value="1">
					<param name="playcount" value="infinite">
					</object>					
					<bgsound src="http://liubai.qiniudn.com/other%E5%90%8E%E6%9D%A52.mp3" />
				</body>
				</html>
                <!-- <img src="{{ "http://liubai.qiniudn.com/logo.png" | prepend: site.baseurl }}"   bg是为了IE class="img-responsive"> -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container <div style="position:fixed;height:90px;width:100%;left:0;bottom:5px;z-index:999"><div class="footer-banner" style="width:728px; margin:0px auto"></div></div>     -->
	<div id="pro" class="box">
		<a href="#service" class="page-scroll btn btn-xl fa fa-angle-down"></a>
	</div>       
</div><!-- /headerwrap -->
