<head>
    <meta charset="utf-8">
    <!-- 
  t#####      t#f       :W######ft   ###i    t##.    Wf        t####f     t#f     
  t#,   ##    D#E             WG     ,#,     t##f    Wf      :WE    ff    D#E     
  t#,     E  ,#E#,           f#,     ,#,     t#E#,   Wf      WG          ,#E#,    
  t#,    E   fE.Wf           #f      ,#,     t#,WE   Wf     f#.          fE.Wf    
  t#,  DE    Wf f#.          E       ,#,     t#,,#f  Wf     Wf           Wf f#.   
  t#####,   ,#. :Wi         t,       ,#,     t#, f#, Wf    :Wi           #. :Wi   
  t#,  ,#   DG   fG        :W        ,#,     t#,  WG Wf    :Wi   ,###E   G   fG   
  t#,   f. :W######,       DE        ,#,     t#,  ,#iWf     Wf      DE  :######,  
  t#,   t, tE     Wf      t#,        ,#,     t#,   f#Wf     DE      DE  t     Wf  
  t#,   f. DG     fE     :WG         ,#,     t#,    WWf     ,#f     DE  D     fE  
  t#,  ,# ,#i     ,#,    D#.         ,#,     t#,    t#f      t#G    DE ,#     ,#, 
  t#####i f#.     :WGt   #######ft   ###i    t#,     #f        W####E  f#     :WG 
  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="baidu-site-verification" content="7ylTjAoBLO" />
	<meta property="wb:webmaster" content="5a82b65a06754387" />
    <link rel="shortcut icon" href="{{ "http://liubai.qiniudn.com/logo1.png" | prepend: site.baseurl }}">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
	<!--<script src="http://maps.google.com/maps/api/js?sensor=false"></script>   -->
    <script src="{{ "/assets/js/modernizr.js" | prepend: site.baseurl }}"></script>
	<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
</head>