<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3></h3>
                <h1>流白</h1>
                <h5></h5>
                <h5></h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
				<html>
				<head>
				<title></title>
				 
				<style>
				img{
					-webkit-transition: 0.4s;
					-webkit-transition: -webkit-transform 0.4s ease-out;
					transition: transform 0.4s ease-out;
					-moz-transition: -moz-transform 0.4s ease-out;
				}
				  
				img:hover{
					transform: rotateZ(360deg);
					-webkit-transform: rotateZ(360deg);
					-moz-transform: rotateZ(360deg);
				}
				</style>
				 
				</head>
				<body>
					<img src="http://liubai.qiniudn.com/logo.png">
				</body>
				</html>
                <!-- <img src="{{ "http://liubai.qiniudn.com/logo.png" | prepend: site.baseurl }}" class="img-responsive"> -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->