<head>
<script type="text/javascript" src="http://libs.useso.com/js/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrollTo.js"></script>
<script type="text/javascript">
$(function(){
	$(".box").click(function(){
		$.scrollTo('#service',500);
	});
	$(".nav_news").click(function(){
		$.scrollTo('#news',800);
	});
	$(".nav_ser").click(function(){
		$.scrollTo('#ser',1000);
	});
	$(".nav_con").click(function(){
		$.scrollTo('#con',1200);
	});
	$(".nav_job").click(function(){
		$.scrollTo('#job',1500);
	});
});
</script>
</head>
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3></h3>
                <h1>流白</h1>
                <h5>想得却不可得，你奈人生何。该舍的舍不得 只顾着跟往事瞎扯</h5>
                <h5></h5>
				<h3></h3>
				<h3></h3> <!--为了排版-->
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
				<html>
				<head>
				<title></title>
				 
				<style>
				img{
					-webkit-transition: 0.4s;
					-webkit-transition: -webkit-transform 0.4s ease-out;
					transition: transform 0.4s ease-out;
					-moz-transition: -moz-transform 0.4s ease-out;
				}
				  
				img:hover{
					transform: rotateZ(360deg);
					-webkit-transform: rotateZ(360deg);
					-moz-transform: rotateZ(360deg);
				}
				</style>
				 
				</head>
				<body>
					<img src="http://liubai.qiniudn.com/logo1.png">
				</body>
				</html>
                <!-- <img src="{{ "http://liubai.qiniudn.com/logo.png" | prepend: site.baseurl }}" class="img-responsive"> -->
            </div>
			<div id="pro" class="box">
				<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
			</div>
        </div><!-- /row -->
    </div> <!-- /container -->
	<div style="position:fixed;height:90px;width:100%;left:0;bottom:5px;z-index:999"><div class="footer-banner" style="width:728px; margin:0px auto"></div></div>           
</div><!-- /headerwrap -->
