<div class="photo-album">
    <a href="./images/2.jpg" class="polaroid img2"><img src="./images/2_small.jpg" alt="" />This lovely waterfall was at Rotorua in Rainbow Springs</a>
    <a href="./images/3.jpg" class="small polaroid img3"><img src="./images/3_small.gif" alt="" />Ferntastic</a>        
    <a href="./images/10.JPG" class="medium polaroid img4"><img src="./images/10_small.jpg" alt="" />At Kaikoura we went whale watching!</a>        
    <a href="./images/5.JPG" class="polaroid img5"><img src="./images/5_small.jpg" alt="" />Found this little cutie on a walk in New Zealand!</a>    
    <a href="./images/6.jpg" class="polaroid img6"><img src="./images/6_small.jpg" alt="" />An amazing bubbling volcanic spring, a bit muddy</a>        
    <a href="./images/7.JPG" class="polaroid img7"><img src="./images/7_small.jpg" alt="" />Simon in a giant Kiwi, pretending to be a Kiwi (the bird)</a>
    <a href="./images/8.JPG" class="small polaroid img8"><img src="./images/8_small.jpg" alt="" />Albatross in Dunedin</a>
    <a href="./images/9.JPG" class="medium polaroid img9"><img src="./images/9_small.jpg" alt="" />White water rafting in Queenstown</a>
    <a href="./images/4.jpg" class="polaroid img10"><img src="./images/4_small.jpg" alt="" />White Island</a>
    <a href="./images/11.JPG" class="polaroid img11"><img src="./images/11_small.jpg" alt="" />Sulphurous</a>
    <a href="./images/12.JPG" class="small polaroid img12"><img src="./images/12_small.jpg" alt="" />Sea lions!</a>
    <a href="./images/13.JPG" class="small polaroid img13"><img src="./images/13_small.jpg" alt="" />Horse riding</a>
    <a href="./images/14.JPG" class="small polaroid img14"><img src="./images/14_small.jpg" alt="" />Stewart Island</a>
    <a href="./images/15.JPG" class="polaroid img15"><img src="./images/15_small.jpg" alt="" />Us in a blue cave on the Franz Josef glacier</a>
</div>



