<div id="photo">
	<div class="photo-album">
		<a href="http://liubai.qiniudn.com/photowall2.jpg" target="_blank" class="small polaroid img2"><img src="http://liubai.qiniudn.com/photowall2_small.jpg" alt="" /></a>
		<a href="http://liubai.qiniudn.com/photowall3.gif" target="_blank" class="small polaroid img3"><img src="http://liubai.qiniudn.com/photowall3_small.gif" alt="" /></a>        
		<a href="http://liubai.qiniudn.com/photowall4.jpg" target="_blank" class="small polaroid img4"><img src="http://liubai.qiniudn.com/photowall4_small.jpg" alt="" /></a>  
		<a href="http://liubai.qiniudn.com/photowall6.jpg" target="_blank" class="small polaroid img6"><img src="http://liubai.qiniudn.com/photowall6_small.jpg" alt="" /></a>        
		<a href="http://liubai.qiniudn.com/photowall8.jpg" target="_blank" class="small polaroid img8"><img src="http://liubai.qiniudn.com/photowall8_small.jpg" alt="" /></a>
		<a href="http://liubai.qiniudn.com/photowall14.jpg" target="_blank" class="small polaroid img10"><img src="http://liubai.qiniudn.com/photowall14_small.jpg" alt="" /></a>
		<a href="http://liubai.qiniudn.com/photowall11.jpg" target="_blank" class="small polaroid img11"><img src="http://liubai.qiniudn.com/photowall11_small.jpg" alt="" /></a>
		<a href="http://liubai.qiniudn.com/photowall12.gif" target="_blank" class="small polaroid img12"><img src="http://liubai.qiniudn.com/photowall12_small.gif" alt="" />
			<h5>那一刻，老天都感动得哭了</h5>
		</a>
		<a href="http://liubai.qiniudn.com/photowall13.jpg" target="_blank" class="small polaroid img13"><img src="http://liubai.qiniudn.com/photowall13_small.jpg" alt="" />死亡之扣-NBA最伟大的扣篮王，没有之一</a>
		<a href="http://liubai.qiniudn.com/photowall10.gif" target="_blank" class="small polaroid img14"><img src="http://liubai.qiniudn.com/photowall10_small.gif" alt="" />当AI已成往事</a>
		<a href="http://liubai.qiniudn.com/photowall15.jpg" target="_blank" class="small polaroid img15"><img src="http://liubai.qiniudn.com/photowall15_small.jpg" alt="" /></a>
	</div>
	<div id="pro" class="box">
		<a href="#article" class="page-scroll btn btn-xl fa fa-angle-down"></a>                <!--service跳到portfoliowrap   然后是container mtb 然后twrap-->
	</div>
</div>

