<div id="photo">
	<div class="photo-album">
		<a href="http://liubai.qiniudn.com/photowall2.jpg" class="small polaroid img2"><img src="http://liubai.qiniudn.com/photowall2_small.jpg" alt="" />This lovely waterfall was at Rotorua in Rainbow Springs</a>
		<a href="http://liubai.qiniudn.com/photowall3.jpg" class="small polaroid img3"><img src="http://liubai.qiniudn.com/photowall3_small.gif" alt="" />Ferntastic</a>        
		<a href="http://liubai.qiniudn.com/photowall4.JPG" class="small polaroid img4"><img src="http://liubai.qiniudn.com/photowall4_small.jpg" alt="" />At Kaikoura we went whale watching!</a>   
		<a href="http://liubai.qiniudn.com/photowall5.JPG" class="polaroid img5"><img src="http://liubai.qiniudn.com/photowall5_small.jpg" alt="" />At Kaikoura we went whale watching!</a> 
		<a href="http://liubai.qiniudn.com/photowall6.jpg" class="small polaroid img6"><img src="http://liubai.qiniudn.com/photowall6_small.jpg" alt="" />An amazing bubbling volcanic spring, a bit muddy</a>        

		<a href="http://liubai.qiniudn.com/photowall8.JPG" class="small polaroid img8"><img src="http://liubai.qiniudn.com/photowall8_small.jpg" alt="" />Albatross in Dunedin</a>
		<a href="http://liubai.qiniudn.com/photowall10.jpg" class="small polaroid img10"><img src="http://liubai.qiniudn.com/photowall10_small.jpg" alt="" />White Island</a>
		<a href="http://liubai.qiniudn.com/photowall11.JPG" class="small polaroid img11"><img src="http://liubai.qiniudn.com/photowall11_small.jpg" alt="" />Sulphurous</a>
		<a href="http://liubai.qiniudn.com/photowall12.JPG" class="small polaroid img12"><img src="http://liubai.qiniudn.com/photowall12_small.jpg" alt="" />Sea lions!</a>
		<a href="http://liubai.qiniudn.com/photowall13.JPG" class="small polaroid img13"><img src="http://liubai.qiniudn.com/photowall13_small.jpg" alt="" />Horse riding</a>
		<a href="http://liubai.qiniudn.com/photowall14.JPG" class="small polaroid img14"><img src="http://liubai.qiniudn.com/photowall14_small.jpg" alt="" />Stewart Island</a>
		<a href="http://liubai.qiniudn.com/photowall15.JPG" class="small polaroid img15"><img src="http://liubai.qiniudn.com/photowall15_small.jpg" alt="" />Us in a blue cave on the Franz Josef glacier</a>
	</div>
</div>



