---
layout: default2
---

<div class="container mtb">
    <div class="row">
        <! -- SINGLE POST -->
        <div class="col-lg-9">
            <! -- Blog Post  -->
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall></p>             
            {{ content }}
            <div class="spacing"></div>
            <h6>SHARE:</h6>
            <p class="share">
                <a href="http://v.t.sina.com.cn/share/share.php?url=http://liubai.info&title='我正在浏览流白网站 @流白啊 '"" target="_blank"><i class="fa fa-weibo"></i></a>
                <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://liubai.info" target="_blank"><i class="fa fa-qq"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>		 		
            </p> 
        </div><! --/col-lg-9 -->      
        {% include sidebar.html %}
    </div><! --/row -->
</div><! --/container -->